## Import Modules

In [1]:
import pandas as pd
import zipfile
import pickle

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import confusion_matrix, classification_report

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

## Import the datasets

In [3]:
z = zipfile.ZipFile("/content/drive/MyDrive/YouTube-Spam-Collection-v1.zip")
Psy = pd.read_csv(z.open("Youtube01-Psy.csv"))
Katy = pd.read_csv(z.open("Youtube02-KatyPerry.csv"))
LMFAO = pd.read_csv(z.open("Youtube03-LMFAO.csv"))
Eminem = pd.read_csv(z.open("Youtube04-Eminem.csv"))
Shakira = pd.read_csv(z.open("Youtube05-Shakira.csv"))

In [5]:
Psy.head()

                                    COMMENT_ID  ... CLASS
0  LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU  ...     1
1  LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A  ...     1
2  LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8  ...     1
3          z13jhp0bxqncu512g22wvzkasxmvvzjaz04  ...     1
4          z13fwbwp1oujthgqj04chlngpvzmtt3r3dw  ...     1

[5 rows x 5 columns]

In [6]:
Katy.head()

                              COMMENT_ID  ... CLASS
0      z12pgdhovmrktzm3i23es5d5junftft3f  ...     1
1    z13yx345uxepetggz04ci5rjcxeohzlrtf4  ...     1
2  z12lsjvi3wa5x1vwh04cibeaqnzrevxajw00k  ...     1
3    z13jcjuovxbwfr0ge04cev2ipsjdfdurwck  ...     1
4  z13qybua2yfydzxzj04cgfpqdt2syfx53ms0k  ...     1

[5 rows x 5 columns]

In [7]:
LMFAO.head()

                              COMMENT_ID  ... CLASS
0  z13uwn2heqndtr5g304ccv5j5kqqzxjadmc0k  ...     0
1  z124jvczaz3dxhnbc04cffk43oiugj25yzo0k  ...     0
2      z13tczjy5xj0vjmu5231unho1ofey5zdk  ...     1
3  z13tzr0hdpnayhqqc04cd3zqqqjkf3ngckk0k  ...     0
4  z12pcvix4zedcjvyb04ccr1r0mr2g5xwyng0k  ...     0

[5 rows x 5 columns]

In [9]:
Eminem.head()

                            COMMENT_ID  ... CLASS
0    z12rwfnyyrbsefonb232i5ehdxzkjzjs2  ...     1
1  z130wpnwwnyuetxcn23xf5k5ynmkdpjrj04  ...     0
2    z13vsfqirtavjvu0t22ezrgzyorwxhpf3  ...     1
3  z12wjzc4eprnvja4304cgbbizuved35wxcs  ...     0
4    z13xjfr42z3uxdz2223gx5rrzs3dt5hna  ...     1

[5 rows x 5 columns]

In [10]:
Shakira.head()

                              COMMENT_ID  ... CLASS
0    z13lgffb5w3ddx1ul22qy1wxspy5cpkz504  ...     0
1      z123dbgb0mqjfxbtz22ucjc5jvzcv3ykj  ...     0
2  z12quxxp2vutflkxv04cihggzt2azl34pms0k  ...     0
3      z12icv3ysqvlwth2c23eddlykyqut5z1h  ...     0
4      z133stly3kete3tly22petvwdpmghrlli  ...     0

[5 rows x 5 columns]

In [11]:
data = pd.concat([Psy, Katy, LMFAO, Eminem, Shakira])
data.drop(["COMMENT_ID", "DATE", "AUTHOR"], axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1956 entries, 0 to 369
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CONTENT  1956 non-null   object
 1   CLASS    1956 non-null   int64
dtypes: int64(1), object(1)
memory usage: 45.8+ KB

In [12]:
data.isnull().sum()

CONTENT    0
CLASS      0
dtype: int64

## Spliting dataset into train and test dataset

In [14]:
X_train, X_test, y_train, y_test = train_test_split(data["CONTENT"], data["CLASS"])

## Tokenizing comments in training set and applying TF-IDF vectorizer on training set

In [15]:
tfidf_vect = TfidfVectorizer(use_idf=True, lowercase=True)
X_train_tfidf = tfidf_vect.fit_transform(X_train)
X_train_tfidf.shape

(1467, 3691)

## Training the multinomial Naive Bayes model

In [16]:
model = MultinomialNB()
model.fit(X_train_tfidf, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

## Generate predictions on test set

In [17]:
X_test_tfidf = tfidf_vect.transform(X_test)
predictions = model.predict(X_test_tfidf)

## Generate model performance metrics

In [18]:
confusion_matrix(y_test, predictions)

array([[205,  33],
       [ 12, 239]])

In [19]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.94      0.86      0.90       238
           1       0.88      0.95      0.91       251

    accuracy                           0.91       489
   macro avg       0.91      0.91      0.91       489
weighted avg       0.91      0.91      0.91       489

In [20]:
model.score(X_test_tfidf, y_test)

0.9079754601226994

## Exporting the model and TF-IDF vectorizer

In [21]:
with open("model.pkl", "wb") as model_file:
  pickle.dump(model, model_file)

with open("tranform.pkl", "wb") as tfidf_vect_file:
  pickle.dump(tfidf_vect, tfidf_vect_file)